<div class="wrapper">
  <!-- Sidebar -->
  <aside id="sidebar" [ngClass]="{ collapsed: toggler }">
    <div class="h-100">
      <div class="sidebar-logo">
        <a href="#">Filter and sort</a>
      </div>
      <!-- Sidebar Navigation -->
      <ul class="sidebar-nav">
        <li class="sidebar-header">Filter by</li>
        <li class="sidebar-item">
          <a class="sidebar-link">
            <i class="fa-solid fa-list pe-2"></i>
            Type: Movie
          </a>
          <a class="sidebar-link">
            <i class="fa-solid fa-list pe-2"></i>
            Dub:
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#pages"
            aria-expanded="false"
            aria-controls="pages"
          >
            <i class="fa-regular fa-file-lines pe-2"></i>
            Country
          </a>
          <ul
            id="pages"
            class="sidebar-dropdown list-unstyled collapse open"
            data-bs-parent="#sidebar"
          >
            <li class="sidebar-item">
              <a class="sidebar-link">Placeholder</a>
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a
            href="#"
            class="sidebar-link collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#dashboard"
            aria-expanded="false"
            aria-controls="dashboard"
          >
            <i class="fa-solid fa-sliders pe-2"></i>
            Genre
          </a>
          <ul
            id="dashboard"
            class="sidebar-dropdown list-unstyled collapse"
            data-bs-parent="#sidebar"
          >
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Placeholder</a>
            </li>
          </ul>
        </li>
        <li class="sidebar-header">Sort by</li>
        <a class="sidebar-link">
          <i class="fa-solid fa-list pe-2"></i>
          Release year:
        </a>
        <a class="sidebar-link">
          <i class="fa-solid fa-list pe-2"></i>
          Rating:
        </a>
        <a class="sidebar-link">
          <i class="fa-solid fa-list pe-2"></i>
          Length:
        </a>
      </ul>
    </div>
  </aside>
  <!-- Main Component -->
  <div class="main">
    <nav class="navbar navbar-expand px-3 border-bottom">
      <!-- Button for sidebar toggle -->
      <button
        class="btn"
        type="button"
        data-bs-theme="dark"
        (click)="onToggleCollapsed()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
</div>
