<div class="wrapper">
  <!-- Sidebar -->
  <aside id="sidebar" [ngClass]="{ collapsed: toggler }">
    <div class="h-100">
      <div class="sidebar-logo">
        <a href="#">Filter and sort</a>
      </div>
      <!-- Sidebar Navigation -->
      <ul class="sidebar-nav">
        <li class="sidebar-header">Filter by</li>
        <li class="sidebar-item">
          <a class="sidebar-link">
            <i class="fa-solid fa-list pe-2"></i>
            Type:
            <span [style.font-weight]="isChecked ? 'normal' : 'bold'"
              >Movie
            </span>
            <div class="form-check form-switch d-inline-block">
              <input
                class="form-check-input"
                type="checkbox"
                id="flexSwitchCheckDefault"
                [(ngModel)]="isChecked"
              />
              <span [style.font-weight]="isChecked ? 'bold' : 'normal'"
                >TV-Series</span
              >
            </div>
          </a>

          <a class="sidebar-link">
            <i class="fa-solid fa-list pe-2"></i>
            <span>Dub: </span>
            <div class="form-check form-switch d-inline-block align-middle">
              <input
                class="form-check-input"
                type="checkbox"
                id="flexSwitchCheckDefault"
              />
            </div>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#pages"
            aria-expanded="false"
            aria-controls="pages"
          >
            <i class="fa-regular fa-file-lines pe-2"></i>
            Country
          </a>
          <ul
            id="pages"
            class="sidebar-dropdown list-unstyled collapse open"
            data-bs-parent="#sidebar"
          >
            <li class="sidebar-item">
              <a class="sidebar-link">
                <div class="alert alert-primary bg-light py-5"></div>
              </a>
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a
            href="#"
            class="sidebar-link collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#dashboard"
            aria-expanded="false"
            aria-controls="dashboard"
          >
            <i class="fa-solid fa-sliders pe-2"></i>
            Genre
          </a>
          <ul
            id="dashboard"
            class="sidebar-dropdown list-unstyled collapse"
            data-bs-parent="#sidebar"
          >
            <li class="sidebar-item">
              <a class="sidebar-link">
                <div class="alert alert-primary bg-light py-5"></div>
              </a>
            </li>
          </ul>
        </li>
        <li class="sidebar-header">
          Sort by:
          <div class="form-group d-inline">
            <select class="bg-dark text-light">
              <option value="1">Release year</option>
              <option value="2">Rating</option>
              <option value="3">Length</option>
            </select>
          </div>
          <button class="btn btn-arrow">
            <i class="bi bi-arrow-up"></i>
          </button>
          <button class="btn btn-arrow">
            <i class="bi bi-arrow-down"></i>
          </button>
        </li>
      </ul>
    </div>
  </aside>
  <!-- Main Component -->
  <div class="main">
    <nav class="navbar navbar-expand px-3 border-bottom">
      <!-- Button for sidebar toggle -->
      <button
        class="btn"
        type="button"
        data-bs-theme="dark"
        (click)="onToggleCollapsed(); hamburgerToggler()"
      >
        <div class="animated-icon2" [ngClass]="{ open: hamburgerToggle }">
          <span></span><span></span><span></span><span></span>
        </div>
      </button>
    </nav>
  </div>
</div>
