.title {
  font-size: clamp(1.5rem, 5vw, 10rem);
  font-weight: bold;
  color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  animation: opacity 3s ease-out;
  animation: color-change 10s infinite forwards;
  animation-fill-mode: forwards;
  height: 30vh;
}

.service-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: opacity 3s ease-out;
  animation-fill-mode: forwards;
}

img {
  min-width: 100px; /* Set your desired minimum width */
  min-height: 100px; /* Set your desired minimum height */
  width: 100%; /* Ensure the image expands within its container */
  height: 100%; /* Ensure the image expands within its container */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  border-radius: 50%;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes color-change {
  0% {
    color: blue;
  }
  25% {
    color: red;
  }
  50% {
    color: green;
  }
  75% {
    color: red;
  }
  100% {
    color: blue;
  }
}

@media screen and (max-width: 1399px) {
  .title {
    display: none;
  }
}
