.service-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

img {
  min-width: 100px;
  min-height: 100px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

@keyframes blurTimeout {
  from {
    filter: blur(0px);
  }

  to {
    filter: blur(8px);
  }
}

@keyframes unblurTimeout {
  from {
    filter: blur(8px);
  }

  to {
    filter: blur(0px);
  }
}

.blurred {
  animation: blurTimeout 0.3s ease-in-out forwards;
}

.unblurred {
  animation: unblurTimeout 0.3s ease-in-out forwards;
}
