.title {
  font-size: clamp(2.4rem, 12vw, 8rem);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  pointer-events: none;
  height: 30vh;
  font-family: Hollywood;
  color: yellow;
  transition: color 0.3s ease;
}

.service-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

img {
  min-width: 100px;
  min-height: 100px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

@font-face {
  font-family: Hollywood;
  src: url(/assets/hollywood_hills.ttf);
}

@keyframes blurTimeout {
  from {
    filter: blur(0px);
  }

  to {
    filter: blur(8px);
  }
}

@keyframes unblurTimeout {
  from {
    filter: blur(8px);
  }

  to {
    filter: blur(0px);
  }
}

.blurred {
  animation: blurTimeout 0.3s ease-in-out forwards;
}

.unblurred {
  animation: unblurTimeout 0.3s ease-in-out forwards;
}
