<div>
  <div>
    <h1 class="py-5 title container-fluid">Movie searcher</h1>
  </div>
  <div class="service-list container">
    <div class="row">
      <div
        *ngFor="let service of services"
        class="col-xs-12 col-md-6 col-lg-4 col-xxl-3 p-3"
      >
        <div
          (click)="onSetService(service.title)"
          class="h-100"
          [ngClass]="{
            blurred: service !== hoveredItem && hoveredItem,
            unblurred: service === hoveredItem || !hoveredItem
          }"
        >
          <img
            src="{{ service.imgPath }}"
            class="card-img-top"
            style="cursor: pointer"
            alt="{{ service.title }}"
            routerLink="flags"
            (mouseenter)="
              setHoveredItem(service); setTitleColorBasedOnServiceColor()
            "
            (mouseleave)="
              setHoveredItem(null); setTitleColorBasedOnServiceColor()
            "
          />
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container fixed-bottom">
    <footer class="bg-dark text-light text-center py-2">
      <div class="container">
        <p class="m-1">
          Movie Searcher App &copy; 2023 | Kovács Ákos, Gyenes Balázs
        </p>
      </div>
    </footer>
  </div>
</div>
