<div>
  <div>
    <h1 class="title container-fluid">Movie searcher</h1>
  </div>

  <div class="service-list container">
    <div class="row">
      <div *ngFor="let service of services" class="col-3">
        <div
          routerLink="movies"
          (click)="onSetService(service.title)"
          class="h-100"
          style="cursor: pointer"
          (mouseenter)="
            setHoveredItem(service); setTitleColorBasedOnServiceColor()
          "
          (mouseleave)="
            setHoveredItem(null); setTitleColorBasedOnServiceColor()
          "
          [ngClass]="{
            blurred: service !== hoveredItem && hoveredItem,
            unblurred: service === hoveredItem || !hoveredItem
          }"
        >
          <img
            src="{{ service.imgPath }}"
            class="card-img-top"
            alt="{{ service.title }}"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <footer class="bg-dark text-light text-center py-3">
      <div class="container">
        <p>&copy; 2023</p>
      </div>
    </footer>
  </div>
</div>
