<h1>Netflix Magyar Tartalmak</h1>
<div id="hr"></div>

<!--
<div class="container-fluid bg-dark">
  <div class="row p-4">
    <div class="col-lg-6">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search movies..."
        />
        <div class="input-group-append">
          <button class="btn btn-danger" type="button">Search</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group d-flex">
        <label class="mr-2 text-white">Sort by:</label>
        <select class="form-control">
          <option>Popularity</option>
          <option>Rating</option>
          <option>Release Date</option>
        </select>
      </div>
    </div>
  </div>
</div>
-->

<div class="container">
  <div class="row">
    <div *ngFor="let item of items" class="col-xl-2 col-4"></div>
  </div>
</div>
