<div>
  <div>
    <h1 class="py-5 title container-fluid">Choose a country!</h1>
  </div>
  <div class="container">
    <div class="row">
      <div *ngFor="let country of countries" class="col-2 mb-3">
        <div class="card border-0">
          <img
            class="card-img-top bg-dark border-0"
            src="https://flagsapi.com/{{ country.countryCode }}/flat/64.png"
          />
          <div class="card-body text-center text-bg-dark d-none d-sm-block">
            <div class="card-title">{{ country.name }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>