body {
  background-color: #141414;
  color: #ffffff;
}

.title {
  font-size: clamp(5rem, 11vw, 8rem);
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  pointer-events: none;
  height: 30vh;
  font-family: Hollywood;
  color: yellow;
  transition: color 0.3s ease;
}

@font-face {
  font-family: Hollywood;
  src: url(/assets/hollywood_hills.ttf);
}