#movie-container .movie-card {
  width: 200px;
  margin: 20px;
  background-color: #333333;
  border-radius: 10px;
  overflow: hidden;
}

#movie-container .movie-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

#movie-container .movie-card .movie-info {
  padding: 10px;
}

#movie-container .movie-card .movie-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

#movie-container .movie-card .movie-rating {
  font-size: 14px;
  color: #e50914;
}
